<div class="buttons-demo">
    <div class="buttons">
        <div>
            
            <div class="buttons-column">
                <div class="column-header">
                    Success
                </div>
                <div>
                    <dx-button
                        stylingMode="contained"
                        text="Contained"
                        type="success"
                        [width]="120"
                        (onClick)="click($event)">
                    </dx-button>
                </div>
                <div>
                    <dx-button
                        stylingMode="outlined"
                        text="Outlined"
                        type="success"
                        [width]="120"
                        (onClick)="click($event)">
                    </dx-button>
                </div>
                <div>
                    <dx-button
                        stylingMode="text"
                        text="Text"
                        type="success"
                        [width]="120"
                        (onClick)="click($event)">
                    </dx-button>
                </div>
            </div>
        </div>
    </div>
</div>